 * {
 	box-sizing: border-box;
 	margin: 0;
 	font-family: 'Yrsa', serif;
 }

html, body {
  height: 100%;
  padding: 0;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  flex-grow: 1;
}

#navheader {
	padding: 5% 10% 0 10%;
	width: 100%;
}

#headers h2 {
	padding: 1% 2% 4% 2%;
	font-size: large;
	text-align: center;
}

.row {
	height: 100%;
	display: -webkit-flex;
}

nav {
	flex-direction: column;
	margin: 0;
	max-height: 100%;
	max-width: 20%;
	border-bottom: 1px solid
}

ul {
	list-style-type: none;
	padding-left: 15px;
}

#locations {
	overflow-y: scroll;
	margin: 0;
	flex-direction: column;
	position: sticky;
}

#locations div {
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 3% 7% 5% 7%;
	overflow-x: hidden;
	width: 100%;
	display: block;
	position: relative;
}

#headers {
	flex-direction: column;
	padding: 5% 10% 0 10%;
	border-bottom: 1px solid;
}
