 * {
 	box-sizing: border-box;
 	margin: 0 auto;
 	font-family: 'Yrsa', serif;
 }

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  padding: 0;
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  flex-grow: 1;
}

#navheader {
	padding: 5% 10% 0 10%;
	border-bottom: 1px solid;
}

#navheader h2 {
	padding: 1% 2% 0 0;
}

.row {
	height: 100%;
	display: -webkit-flex;
}

nav {
	display: flex;
	flex-direction: column;
	margin: 0;
	max-height: 100%;
}


#locations {
	overflow-y: scroll;
	display: -webkit-flex;
	flex-direction: column;
	margin: 0;
	flex-shrink: 0;
}

#locations div {
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 3% 7% 5% 7%;
	display: flex;
	flex-direction: column;
}